.md-ripples {
    background-color: #21D4FD;
    // opacity:.32;
}
.ant-card-meta-title {
    font-size: 14px!important;
}
.ant-card{
    font-size: 12px!important;
}
.operation{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    font-weight: 900;
    width: 43px;
    text-align: center;
    height: 40px;
}