.avatar-uploader>.ant-upload {
  width: 80px;
  height: 80px;
  // border-radius:90px ;
}

.ant-popover {
  z-index: 10000!important;
}

.flexSelect {
  display: flex;
  justify-content: space-between;
}